.plinko-game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

.plinko-board {
  margin: 0 auto;
  position: relative;
}

button {
  z-index: 10;
}

.ball {
  transition: all 0.3s ease-in-out;
}
